<div class="view-workouts">

  <mat-tab-group animationDuration="300ms">
    <mat-tab label="May 11-17">

    </mat-tab>
    <mat-tab label="May 18-24">

    </mat-tab>
    <mat-tab class="view-week-tab" label="May 25-31">
      
      <mat-card *ngFor="let workout of workouts" class="view-workout-card">
        <mat-card-header>
          <mat-card-title>{{workout.date}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let exercise of workout.exercises">
            <span class="exercise">{{exercise.type}}</span>
          </div>
        </mat-card-content>
        <mat-card-actions *ngIf="ft.manageWorkoutsEnabled">
          <button mat-raised-button color="accent">Edit Workout</button>
          <button mat-raised-button color="warn">Delete Workout</button>
        </mat-card-actions>
      </mat-card>
      <div class="weekly-point-total">
        Weekly Points: 976
      </div>
    </mat-tab>
  </mat-tab-group>



</div>
