
<div class="daily-workout" width="100%">
  <h2> Workout for today, {{ today }}<sup>th</sup>, 2020 </h2>
  <form class="workout-form" [formGroup]="exercisesForm"  (ngSubmit)="onSaveWorkout()">
    <ng-container formArrayName="exerciseEntries">
      <mat-table #tableInstance [dataSource]="exerciseEntries.controls">

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>

          <mat-cell *matCellDef="let element" [formGroup]="element">

            <mat-form-field *ngIf="ft.autocompleteEnabled" floatLabel="never">
              <mat-label>Type</mat-label>
              <!-- TODO: Make this autocomplete filter properly (see AngularMaterial docs)-->
              <input matInput 
              type="text" 
              formControlName="type"
              [matAutocomplete]="typeAuto"
              >
              <mat-autocomplete #typeAuto="matAutocomplete">
                <mat-option *ngFor="let exercise of exerciseList" [value]="exercise.type">
                  <span>{{exercise.type}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field *ngIf="!ft.autocompleteEnabled" floatLabel="never">
              <mat-label>Type</mat-label>
              <mat-select formControlName="type">
                <mat-option *ngFor="let exercise of exerciseList" [value]="exercise.type">
                  <span>{{exercise.type}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>

          </mat-cell>

          <mat-footer-cell *matFooterCellDef><span class="font-bold"> Total </span></mat-footer-cell>

        </ng-container>

        <ng-container matColumnDef="count">
          <mat-header-cell *matHeaderCellDef>Count</mat-header-cell>
          <mat-cell *matCellDef="let element" [formGroup]="element">
            <mat-form-field floatLabel="never">
              <!-- TODO: Make this dynamic based on the type element. How? -->
              <span matSuffix class="units mat-caption">reps</span>
              <mat-label>Count</mat-label>
              <input matInput type="number" pattern="\d+(\.\d)?" formControlName="count">
            </mat-form-field>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="points">
          <mat-header-cell *matHeaderCellDef>Points</mat-header-cell>
          <mat-cell *matCellDef="let element" [formGroup]="element">
            <mat-form-field>
              <input matInput type="number" formControlName="points" readonly>
            </mat-form-field>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef> <span class="font-bold">{{totalPoints}}</span></mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
      </mat-table>
    </ng-container>
    <button id="addExercise" (click)="onAddExercise()" mat-raised-button color="accent">Add Exercise</button>
    <div class="center-content">
      <button type="submit" (click)="onSaveWorkout()" mat-raised-button color="primary">Save Workout</button>
    </div>
</form>
</div>