/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center-content {
  display:flex;
  justify-content: center;
}

.daily-workout {
  margin-left: 4px;
  margin-right: 4px
}

.font-bold {
  font-weight: 500;
}

.font-code {
  font-family: monospace;
}

.button-column {
  max-width: 24px;
}

.numeric-column {
  max-width: 80px;
}

.align-middle {
  vertical-align: middle;
  text-align: center;
}

.fill-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

#addExercise {
  margin-top: 4px;
  margin-left: 8px;
}
.view-workouts {
  .mat-tab-body-wrapper {
    color: white;
    background-color: #eeeeee;;
  }

  .view-workout-card {
    margin: 8px
    }

  .weekly-point-total {
    color: black;
     font-size: 24px
  }
}